.App{
  padding: 20px;
}

.text{
  display: flex;
  margin-left: 50px;
  text-align: left;
  font-size: large;
  color: rgb(3, 2, 3);
  font-weight: 100;
  font-style: oblique;
}

.button{
  background-color: palegreen;
  border-radius:20px;
  margin-left: 50px;
  padding: 10px;
  font-size: medium;

}
.button:hover{
  border: 1px solid darkblue;
}